@model QuestionVM
@{
	ViewData["Title"] = "Form";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div style="position: absolute; top: 30; right: 0;">
    <button id="myButton" class="btn btn-success w-100">Form Oluştur</button>
</div>

<form>
   
    <div class="row filter-row">

        <div class="col-sm-6 col-md-3">
            <div class="form-group form-focus">
                <input class="form-control floating" type="text" id="searchInput" placeholder="Form Adı giriniz">
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="d-grid">
                <button class=" btn btn-success w-100" type="button" id="searchBtn">Ara</button>
            </div>
        </div>


        <div class="col-sm-6 col-md-3">
            <div class="d-grid">
               
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="d-grid">
                
            </div>
        </div>
    </div>
   
</form>
<ul id="formList"></ul>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Form Oluşturma Ekranı</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form asp-action="AddForm" asp-controller="Form"  method="post" name="id">
					<div class="form-group">
						<label for="name">Formun Adını Giriniz:</label>
						<input type="text" asp-for="Name" class="form-control" id="name" required>
					</div>
                    <div class="form-group">
                        <label for="name">Formun Açıklamasını Giriniz:</label>
                        <textarea type="text" asp-for="Description" class="form-control" aria-label="With textarea" id="name" required></textarea>
                    </div>
					<br />
					<button type="submit" class="btn btn-primary">Gönder</button>
                    <br />
                    <br />
                    <p>Formunuzun Önizlemesi Aşığıdaki Gibidir. </p>
				</form>
			</div>
		</div>
	</div>
</div>








