@model QuestionVM
@{
	ViewData["Title"] = "Form";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<button id="myButton">Form Aç</button>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Form Oluşturma Ekranı</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form asp-action="AddForm" asp-controller="Form"  method="post" name="id">
					<div class="form-group">
						<label for="name">Formun Adını Giriniz:</label>
						<input type="text" asp-for="Name" class="form-control" id="name" required>
					</div>
					<br />
					<button type="submit" class="btn btn-primary">Gönder</button>
                    <br />
                    <br />
                    <p>Formunuzun Önizlemesi Aşığıdaki Gibidir. </p>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	    $(document).ready(function () {
        $("#myButton").click(function () {
        $("#myModal").modal("show");
        var myUrl = "/Form/GetQuestions";
        $.ajax({
            url: myUrl,
            type: "GET",
            success: function (response) {
            var form = $("#myModal .modal-body form");
            var row = $("<div>", { class: "row" });
            var col1 = $("<div>", { class: "col-md-6" });
            var col2 = $("<div>", { class: "col-md-6" });
            row.append(col1, col2);
            form.prepend(row);

            $.each(response, function (index, question) {
                var checkbox = $("<input>", { type: "checkbox", name: "ids", value: question.id, checked: false });
                var cardHeader = $("<p>", { class: "card-header", id: question.name }).text(question.name);
                var card = $("<div>", { class: "card" }).append(cardHeader);
                var formCheck = $("<div>", { class: "form-check" }).append(checkbox, card);

                if (index % 2 === 0) {
                col1.append(formCheck);
                } else {
                col2.append(formCheck);
                }
                if (question.name === "E-posta") {
                    checkbox.on("change", function () {
                        if (this.checked) {
                            var label = $("<label>", { for: "email" }).text("E-posta adresini giriniz:");
                            var input = $("<input>", { type: "email", class: "form-control", id: "email", placeholder: "a.a@hotmail.com" });
                            $("#myModal .modal-body form").append(label,input);
                        } else {
                            $("#myModal .modal-body form #email").prev("label").remove();
                            $("#myModal .modal-body form #email").remove();
                        }
                    });
                }

            if (question.name === "Ad") {
                checkbox.on("change", function () {
                    if (this.checked) {
                        var label = $("<label>", { for: "name" }).text("Adınız:");
                        var input = $("<input>", { type: "text", class: "form-control", id: "name", placeholder: "Örn.Busra" });
                        $("#myModal .modal-body form").append(label, input);
                    } else {
                        $("#myModal .modal-body form #name").prev("label").remove();
                        $("#myModal .modal-body form #name").remove();
                    }
                });
            }

            if (question.name === "Soyad") {
                checkbox.on("change", function () {
                    if (this.checked) {
                        var label = $("<label>", { for: "surname" }).text("Soyadınız:");
                        var input = $("<input>", { type: "text", class: "form-control", id: "surname", placeholder: "Örn.Sarı" });
                        $("#myModal .modal-body form").append(label, input);
                    } else {
                        $("#myModal .modal-body form #surname").prev("label").remove();
                        $("#myModal .modal-body form #surname").remove();
                    }
                });
            }

            if (question.name === "Yaş") {
                checkbox.on("change", function () {
                    if (this.checked) {
                        var label = $("<label>", { for: "age" }).text("Yaşınız:");
                        var input = $("<input>", { type: "number", class: "form-control", id: "age", placeholder: "Örn.26" });
                        $("#myModal .modal-body form").append(label, input);
                    } else {
                        $("#myModal .modal-body form #age").prev("label").remove();
                        $("#myModal .modal-body form #age").remove();
                    }
                });
            }

            if (question.name === "Doğum Tarihi") {
                checkbox.on("change", function () {
                    if (this.checked) {
                        var label = $("<label>", { for: "birthday" }).text("Doğum Tarihiniz:");
                        var input = $("<input>", { type: "date", class: "form-control", id: "birthday", placeholder: "02/04/1997" });
                        $("#myModal .modal-body form").append(label, input);
                    } else {
                        $("#myModal .modal-body form #birthday").prev("label").remove();
                        $("#myModal .modal-body form #birthday").remove();
                    }
                });
            }

            if (question.name === "Telefon") {
                checkbox.on("change", function () {
                    if (this.checked) {
                        var label = $("<label>", { for: "phone" }).text("Telefon Numaranız:");
                        var input = $("<input>", { type: "tel", class: "form-control", id: "phone", placeholder: "Örn.05554443322" });
                        $("#myModal .modal-body form").append(label, input);
                    } else {
                        $("#myModal .modal-body form #phone").prev("label").remove();
                        $("#myModal .modal-body form #phone").remove();
                    }
                });
            }
            });
            
            },
            error: function (xhr, ajaxOptions, thrownError) {
            alert(xhr.status);
            alert(xhr.responseText);
            }
        });
        });
    });


</script>
