@model QuestionVM
@{
	ViewData["Title"] = "Form";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="row filter-row">

    <div class="col-sm-6 col-md-3">
        <div class="form-group form-focus">
            <input class="form-control floating" type="text" id="searchInput" placeholder="Form Adı giriniz">
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="d-grid">
            <button class=" btn btn-success w-100" type="button" id="searchBtn">Ara</button>
        </div>
    </div>
</div>
<div class="row filter-row">
    <div class="col-sm-6 col-md-3">
        <div class="d-grid">
               <p> </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="d-grid">
            <p> </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="d-grid">
            <p> </p>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="d-grid">
            <button id="myButton" class="btn btn-success w-100">Form Ekle  
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-plus-fill" viewBox="0 0 16 16">
                    <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM8.5 8.5V10H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V11H6a.5.5 0 0 1 0-1h1.5V8.5a.5.5 0 0 1 1 0z" />
                </svg>
            </button>
        </div>
    </div>
</div>
    

<ul id="formList"></ul>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Form Oluşturma Ekranı</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
                <form asp-action="AddForm" asp-controller="Form"  method="post" >
					<div class="form-group">
						<label for="name">Formun Adını Giriniz:</label>
						<input type="text" asp-for="Name" class="form-control"  required>
					</div>
                    <div class="form-group">
                        <label for="name">Formun Açıklamasını Giriniz:</label>
                        <textarea type="text" asp-for="Description" class="form-control" aria-label="With textarea" required></textarea>
                    </div>
					<br />
					<button type="submit" class="btn btn-primary">Gönder</button>
                    <br />
                    <br />
                    <p>Formunuzun Önizlemesi Aşığıdaki Gibidir. </p>
				</form>
			</div>
		</div>
	</div>
</div>








